.overflow-hidden {
    overflow: hidden;
}

.jumbotron {
    font-family: "Bungee Inline";
    color: white;
    background-repeat: no-repeat;
    background-position: center center;

}

h1 {
    font-size: 48px;
}

body {
    /* background-color: #F0F8FF; */
    margin-bottom: 1%;
}

.caroImages {
    height: 400px;
    margin: auto;
}

.display-none {
    display: none;
}